*,*::after , *::before{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    width: 100%;
    overflow-x: hidden;
    height: 5000px;
    flex-wrap: wrap;
}
a{
    text-decoration: none;
    color: inherit;
}

body{
    font-size: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    width: 100%;
    overflow-x: hidden;
}

li{
    list-style-type: none;
}


